<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timothy Trousdale's Portfolio</title>
    <link href="/public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/public/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$ ( "#menu-close").click();>Navigation</a>
            </li>
            <li>
                <a href="#top" onclick=$ ( "#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#about" onclick=$ ( "#menu-close").click();>About me</a>
            </li>
            <li>
                <a href="#awards" onclick=$ ( "#menu-close").click();>Awards</a>
            </li>
            <li>
                <a href="#resume" onclick=$ ( "#menu-close").click();>Resume</a>
            </li>
            <li>
                <a href="#myWork" onclick=$ ( "#menu-close").click();>My Work</a>
            </li>
            <li>
                <a href="#contact" onclick=$ ( "#menu-close").click();>Contact me</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <div class="headerText">
                <h1>Timothy Trousdale</h1>
                <h3>Former chef turned Web Developer</h3>
            </div>
            <a href="#contact" class="btn btn-dark btn-lg">Contact Me</a>

        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The man behind the mask:</h2>
                    <p class="lead">I was a succesful chef for many years, but soon found that my passion lay elsewhere I wanted to spend less at the cutting board and more near circuit boards. I spent my time creating recipes calculators and cost analysis programs that streamlined banquet preparation and product ordering. I soon realized that cooking, although enjoyable, was not where my skills and intelligence would best be used. I headed back to school and picked up Web Development, and haven't looked back since.
                        <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="awards" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Awards and Commendations</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comments-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>2011 Employee of the Year<br>HGI Sandy</strong>
                                </h4>
                                <p>Winner for my property</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-gamepad fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>2011 Employee of the Year<br>Woodbury Corporation</strong>
                                </h4>
                                <p>The winner is chosen from amongst the individual hotel winners</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-calendar fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>2012 Spirit of the Garden Winner</strong>
                                </h4>
                                <p>Employee of the Year award for the Hilton Garden Inn Global Brand</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-child fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Best Uncle Ever Award</strong>
                                </h4>
                                <p>Given to me by my newborn niece
                                    <br>(I may have cheated on this one)</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside id="resume" class="callout">
        <div class="text-vertical-center">
            <h1>Resume and Work Experience</h1>
            <h3><a class="whiteText" href="#contact">Conact me for more info</a></h3>
            <a href="#" class="btn btn-dark">View Resume</a>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="myWork" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>My Work</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/public/img/portfolio-1.jpg">
                                    <span class="floater">A Node.js based chat server<br>using socket.io</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/public/img/portfolio-2.jpg">
                                    <span class="floater">A variation on the card game War<br>using jQuery</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/public/img/portfolio-3.jpg">
                                    <span class="floater">A web app used to calculate<br> the duration of open enrollment<br>classes</span>

                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/public/img/portfolio-4.jpg">
                                    <span class="floater">A game for family members to<br>guess my neice's statistics.<br>Built in one day using Firebase</span>

                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside id="contact" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Feel free to leave your name and the contact info of your hiring department<br>and I will contact them as soon as possible</h3>
                    <textarea class="contactInfo" placeholder="Any info you enter here will be automatically emailed to me..."/></textarea><br>
                    <a href="#" class="btn btn-lg btn-dark">Send to me!</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.5763886925097!2d-111.7839426842763!3d40.44037806212429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d80a3d7d3f781%3A0x9997ebe94ca21a9f!2s886+Braddock+Ln%2C+Alpine%2C+UT+84004!5e0!3m2!1sen!2sus!4v1445961205667"></iframe>

    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Timothy Trousdale</strong>
                    </h4>
                    <p>886 Braddock Lane
                        <br>Alpine, UT 84004</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (801) 717-8983</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:timtrousdale@gmail.com">timtrousdale@gmail.com</a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; 2015 Timothy Trousdale. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/public/js/jquery-1.11.3.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/public/js/bootstrap.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Scrolls to the selected menu item on the page
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>

</body>

</html>